<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>controlusuario</servlet-name>
        <servlet-class>Controlador.controlusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlregistro</servlet-name>
        <servlet-class>Controlador.controlregistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlasistencia</servlet-name>
        <servlet-class>Controlador.controlasistencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlcursos</servlet-name>
        <servlet-class>Controlador.controlcursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rolbajo</servlet-name>
        <servlet-class>Controlador.Rolbajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eeeea</servlet-name>
        <servlet-class>Controlador.eeeea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlusuario</servlet-name>
        <url-pattern>/controlusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlregistro</servlet-name>
        <url-pattern>/controlregistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlasistencia</servlet-name>
        <url-pattern>/controlasistencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlcursos</servlet-name>
        <url-pattern>/controlcursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rolbajo</servlet-name>
        <url-pattern>/Rolbajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eeeea</servlet-name>
        <url-pattern>/eeeea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
